In [1]:
import pandas as pd

1. Given the following confusion matrix, evaluate (by hand) the model's performance.


>|               | actual cat | actual dog |
>|:------------  |-----------:|-----------:|
>| predicted cat |         34 |          7 |
>| predicted dog |         13 |         46 |


- In the context of this problem, what is a false positive?
- In the context of this problem, what is a false negative?
- How would you describe this model?

Above model:
Positive: Predicted Cat


- The false Positive is predicted cat actual dog
- The false negative is predicted dog actual cat
- This model is accurate

In [242]:
positivie = 'cat'

tp = 34
tn = 46
fp = 7
fn = 13

accuracy = (tp + tn) / (tp + fp + fn + tn)
recall = tp / (tp + fn)
precision = tp/ (tp + fp )

print("Cat-Classifier")
print(f"Accuracy: {accuracy}")
print(f"recall: {recall}")
print(f"precision: {precision}")

Cat-Classifier
Accuracy: 0.8
recall: 0.723404255319149
precision: 0.8292682926829268

2. You are working as a datascientist working for Codeup Cody Creator (C3 for short),
a rubber-duck manufacturing plant.  Unfortunately, some of the rubber ducks that are produced
will have defects. Your team has built several models that try to predict those defects,
and the data from their predictions can be found here.

In [251]:
df = pd.read_csv('https://ds.codeup.com/data/c3.csv')

In [252]:
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [253]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
actual    200 non-null object
model1    200 non-null object
model2    200 non-null object
model3    200 non-null object
dtypes: object(4)
memory usage: 6.4+ KB

>An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

Positive = Defects

- The evaluation metric to use would be recall.  
- I would choose model 3 because it has the highest recall

In [254]:
df.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [255]:
df['baseline'] = "No Defect"

In [256]:
df.head()

      actual     model1  model2     model3   baseline
0  No Defect  No Defect  Defect  No Defect  No Defect
1  No Defect  No Defect  Defect     Defect  No Defect
2  No Defect  No Defect  Defect  No Defect  No Defect
3  No Defect     Defect  Defect     Defect  No Defect
4  No Defect  No Defect  Defect  No Defect  No Defect

In [257]:
# #recall is tp / tp + fp

# def recall_function(pred):
#     positive = "Defect"
#     model_accuracy = (model1 == df.actual).mean()
#     df = df[pred == positive]
#     model_recall = (model1 == df.actual).mean()
#     return model_recall

In [258]:
positive = "Defect"
subset = df[df.actual == positive]
model_recall = (subset.model1 == subset.actual).mean()
f"Recall for Model 1 is {model_recall}"

'Recall for Model 1 is 0.5'

In [259]:
positive = "Defect"
subset = df[df.actual == positive]
model_recall = (subset.model2 == subset.actual).mean()
f"Recall for Model 2 is {model_recall}"

'Recall for Model 2 is 0.5625'

In [260]:
positive = "Defect"
subset = df[df.actual == positive]
model_recall = (subset.model3 == subset.actual).mean()
f"Recall for Model 3 is {model_recall}"

'Recall for Model 3 is 0.8125'

> Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

- Cost of False Positives is high so I would use **precision**
- Precision for model 1 is .95 and very high

In [274]:
positive = "Defect"
subset_p = df[df.model1 == positive]
model_precision = (subset_p.model1 == subset_p.actual).mean()
f"Precision for Model 1 is {model_precision}"

'Precision for Model 1 is 0.8'

In [277]:
positive = "Defect"
subset_p = df[df.model2 == positive]
model_precision = (subset_p.model2 == subset_p.actual).mean()
f"Precision for Model 2 is {model_precision}"

'Precision for Model 2 is 0.1'

In [278]:
positive = "Defect"
subset_p = df[df.model3 == positive]
model_precision = (subset_p.model3 == subset_p.actual).mean()
f"Precision for Model 3 is {model_precision}"

'Precision for Model 3 is 0.13131313131313133'

In [127]:
df.model1.value_counts()

No Defect    190
Defect        10
Name: model1, dtype: int64

3. You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.



-  Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

In [280]:
df = pd.read_csv("https://ds.codeup.com/data/gives_you_paws.csv")

In [281]:
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [282]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

- Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [283]:
df['baseline'] = 'dog'

In [284]:
positive = 'dog'

In [285]:
data = [
    ["Model1", (df.model1 == df.actual).mean()],
    ["Model2", (df.model2 == df.actual).mean()],
    ["Model3", (df.model3 == df.actual).mean()],
    ["Model4", (df.model4 == df.actual).mean()],
    ["Baseline", (df.baseline == df.actual).mean()]   
]


accuracy_df  = pd.DataFrame(data,
    columns = ['model_name',
               'accuracy'],)

-   In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [286]:
accuracy_df

  model_name  accuracy
0     Model1    0.8074
1     Model2    0.6304
2     Model3    0.5096
3     Model4    0.7426
4   Baseline    0.6508

In [287]:
accuracy_df['better_than_baseline'] = accuracy_df.accuracy > .66

In [288]:
accuracy_df

  model_name  accuracy  better_than_baseline
0     Model1    0.8074                  True
1     Model2    0.6304                 False
2     Model3    0.5096                 False
3     Model4    0.7426                  True
4   Baseline    0.6508                 False

-  Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? 
> Model 4 has highest recall
- For Phase II?
> Model 2 has the highest precision

recall - false negatives more expensive
precision - false positives more expensive

- Phase 1:  False negatives more expensive

- Phase 2: False positives more expensive

In [289]:
# recall
positive = "dog"
subset = df[df.actual == positive]
dog_recall = [(subset.model1 == subset.actual).mean(),
              (subset.model2 == subset.actual).mean(),
              (subset.model3 == subset.actual).mean(),
              (subset.model4 == subset.actual).mean(),
              (subset.baseline == subset.actual).mean()
             
]
accuracy_df['dog_team_recall'] = dog_recall

In [290]:
accuracy_df

  model_name  accuracy  better_than_baseline  dog_team_recall
0     Model1    0.8074                  True         0.803319
1     Model2    0.6304                 False         0.490781
2     Model3    0.5096                 False         0.508605
3     Model4    0.7426                  True         0.955747
4   Baseline    0.6508                 False         1.000000

In [291]:
# precision
positive = "dog"
subset1 = df[df.model1 == positive]
subset2 = df[df.model2 == positive]
subset3 = df[df.model3 == positive]
subset4 = df[df.model4 == positive]
subsetb = df[df.baseline == positive]
dog_precision = [(subset1.model1 == subset1.actual).mean(),
              (subset2.model2 == subset2.actual).mean(),
              (subset3.model3 == subset3.actual).mean(),
              (subset4.model4 == subset4.actual).mean(),
              (subsetb.baseline == subsetb.actual).mean()
                ]
accuracy_df['dog_team_precision'] = dog_precision

In [292]:
accuracy_df

,model_name,accuracy,better_than_baseline,dog_team_recall,dog_team_precision
0,Model1,0.8074,True,0.803319,0.890024
1,Model2,0.6304,False,0.490781,0.893177
2,Model3,0.5096,False,0.508605,0.659888
3,Model4,0.7426,True,0.955747,0.731249
4,Baseline,0.6508,False,1.000000,0.650800

-  Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? 
> Model 1 has best recall
- For Phase II?
> Model 4 has best precision

In [293]:
positive = "cat"
subset = df[df.actual == positive]
cat_recall = [(subset.model1 == subset.actual).mean(),
              (subset.model2 == subset.actual).mean(),
              (subset.model3 == subset.actual).mean(),
              (subset.model4 == subset.actual).mean(),
              (subset.baseline == subset.actual).mean()
             
]
accuracy_df['cat_team_recall'] = cat_recall

In [294]:
positive = "cat"
subset1 = df[df.model1 == positive]
subset2 = df[df.model2 == positive]
subset3 = df[df.model3 == positive]
subset4 = df[df.model4 == positive]
subsetb = df[df.baseline == positive]
cat_precision = [(subset1.model1 == subset1.actual).mean(),
              (subset2.model2 == subset2.actual).mean(),
              (subset3.model3 == subset3.actual).mean(),
              (subset4.model4 == subset4.actual).mean(),
              (subsetb.baseline == subsetb.actual).mean()
                ]
accuracy_df['cat_team_precision'] = cat_precision

In [195]:
accuracy_df

,model_name,accuracy,better_than_baseline,dog_team_recall,dog_team_precision,cat_team_recall,cat_team_precision
0,Model1,0.8074,True,0.803319,0.890024,0.815006,0.689772
1,Model2,0.6304,False,0.490781,0.893177,0.890607,0.484122
2,Model3,0.5096,False,0.508605,0.659888,0.511455,0.358347
3,Model4,0.7426,True,0.955747,0.731249,0.345361,0.807229
4,Baseline,0.6508,False,1.000000,0.650800,0.000000,NaN

In [209]:
from sklearn.metrics import accuracy_score

In [239]:
def accuracy_test()
    y_true = df.actual
    y_pred = df.model1
    sklearn.metrics.accuracy_score(y_true, y_pred, normalize=True, sample_weight=None)

0.8074

In [ ]:
df.apply(lambda c: )

In [224]:
# clmn = list('df.' + df.columns[1:])
# clmn

['df.model1', 'df.model2', 'df.model3', 'df.model4', 'df.baseline']

In [243]:
# x = []
# for i in clmn:
#     y_true = df.actual
#     y_pred = i

In [299]:
y_true = df.actual
y_pred = df.model1

x = sklearn.metrics.classification_report(y_true, y_pred, output_dict = True, labels = y_pred)
pd.DataFrame(x)

                   cat          dog  accuracy     macro avg  weighted avg
precision     0.689772     0.890024  0.823864  8.074000e-01  8.352092e-01
recall        0.815006     0.803319  0.823864  8.081409e-01  8.065180e-01
f1-score      0.747178     0.844452  0.823864  8.043164e-01  8.178249e-01
support    1746.000000  3254.000000  0.823864  1.315900e+07  1.315900e+07

In [316]:
y_true = df.actual
y_pred = df.model2

x = sklearn.metrics.classification_report(y_true, y_pred, output_dict = True, digits = .2)
pd.DataFrame(x)

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.484122     0.893177    0.6304     0.688649      0.750335
recall        0.890607     0.490781    0.6304     0.690694      0.630400
f1-score      0.627269     0.633479    0.6304     0.630374      0.631310
support    1746.000000  3254.000000    0.6304  5000.000000   5000.000000

In [308]:
y_true = df.actual
y_pred = df.model3

x = sklearn.metrics.classification_report(y_true, y_pred, output_dict = True, digits = 1)
pd.DataFrame(x)

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.358347     0.659888    0.5096     0.509118      0.554590
recall        0.511455     0.508605    0.5096     0.510030      0.509600
f1-score      0.421425     0.574453    0.5096     0.497939      0.521016
support    1746.000000  3254.000000    0.5096  5000.000000   5000.000000

In [302]:
y_true = df.actual
y_pred = df.model4

x = sklearn.metrics.classification_report(y_true, y_pred, output_dict = True, labels = y_pred)
pd.DataFrame(x)

                   dog          cat  accuracy     macro avg  weighted avg
precision     0.731249     0.807229  0.733522  7.426000e-01  7.377925e-01
recall        0.955747     0.345361  0.733522  8.645551e-01  9.031762e-01
f1-score      0.828560     0.483755  0.733522  7.770461e-01  7.988630e-01
support    3254.000000  1746.000000  0.733522  1.514352e+07  1.514352e+07

In [303]:
y_true = df.actual
y_pred = df.baseline

x = sklearn.metrics.classification_report(y_true, y_pred, output_dict = True, labels = y_pred)
pd.DataFrame(x)

                   dog     micro avg     macro avg  weighted avg
precision     0.650800  6.508000e-01  6.508000e-01  6.508000e-01
recall        1.000000  1.000000e+00  1.000000e+00  1.000000e+00
f1-score      0.788466  7.884662e-01  7.884662e-01  7.884662e-01
support    3254.000000  1.627000e+07  1.627000e+07  1.627000e+07