In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
import sklearn.preprocessing

In [1]:
from wrangle import wrangle_telco

In [2]:
df = wrangle_telco()
df.head()

  customer_id  monthly_charges  tenure  total_charges
0  0013-SMEOE           109.70      71        7904.25
1  0014-BMAQU            84.65      63        5377.80
2  0016-QLJIS            90.45      65        5957.90
3  0017-DINOC            45.20      54        2460.55
4  0017-IUDMW           116.80      72        8456.75

In [5]:
X = df[['monthly_charges', 'tenure']]
y = df[['total_charges']]
train_pct = .8

In [6]:
# def split_my_data(X, y, train_pct):
#     X_train, X_test, y_train, y_test = train_test_split(X, y , train_size = train_pct, random_state = 1)
#     return X_train, X_test, y_train, y_test

In [26]:
X_train, X_test, y_train, y_test = split_my_data(X, y, train_pct)

In [38]:
X_train

      monthly_charges  tenure
1374            80.60      54
484            110.05      69
1394            54.85      16
211             25.45      61
1049            86.40      71
...               ...     ...
722             99.35      69
913             20.15      47
1105            20.00      63
236             19.75      57
1070            92.70      65

[1348 rows x 2 columns]

In [80]:

def standard_scaler():
    X_train, X_test, y_train, y_test = split_my_data(X, y, train_pct)
    cols = ['tenure', 'monthly_charges']
    scaler = sklearn.preprocessing.StandardScaler()
    X_train[cols] = scaler.fit_transform(X_train[cols])
    return X_train[cols]

In [81]:
standard_scaler()

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

        tenure  monthly_charges
1374 -0.171432         0.586964
484   0.675879         1.433599
1394 -2.317952        -0.153303
211   0.223980        -0.998501
1049  0.788854         0.753704
...        ...              ...
722   0.675879         1.125993
913  -0.566843        -1.150866
1105  0.336955        -1.155179
236  -0.001970        -1.162366
1070  0.449930         0.934818

[1348 rows x 2 columns]