In [5]:
from env import get_db

import pandas as pd
import numpy as np

Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

- Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
- Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no > duplicate property ID's), along with zestimate error and date of transaction.
- Only include properties that include a latitude and longitude value.

In [6]:
url = get_db('zillow')

sql = """
select * from properties_2017
join predictions_2017 using(parcelid)
left join airconditioningtype using(airconditioningtypeid)
left join architecturalstyletype using(architecturalstyletypeid)
left join buildingclasstype using(buildingclasstypeid)
left join heatingorsystemtype using(heatingorsystemtypeid)
left join propertylandusetype using(propertylandusetypeid)
left join storytype using(storytypeid)
left join typeconstructiontype using(typeconstructiontypeid)
where latitude IS NOT NULL
and longitude IS NOT NULL
"""

In [7]:
df = pd.read_sql(sql, url)
df

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,id,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14297519,1727539,NaN,...,0,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17052889,1387261,NaN,...,1,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14186244,11677,NaN,...,2,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12177905,2288172,NaN,...,3,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,NaN,NaN,266.0,2.0,NaN,NaN,1.0,10887214,1970746,NaN,...,4,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77575,NaN,NaN,261.0,2.0,NaN,NaN,NaN,11000655,673515,NaN,...,77609,0.020615,2017-09-20,None,None,None,Central,Single Family Residential,None,None
77576,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17239384,2968375,NaN,...,77610,0.013209,2017-09-21,None,None,None,None,Single Family Residential,None,None
77577,NaN,NaN,261.0,2.0,NaN,NaN,1.0,12773139,1843709,NaN,...,77611,0.037129,2017-09-21,Central,None,None,Central,Single Family Residential,None,None
77578,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12826780,1187175,NaN,...,77612,0.007204,2017-09-25,None,None,None,Central,Single Family Residential,None,None
77579,NaN,NaN,261.0,7.0,NaN,NaN,NaN,13083743,2455685,NaN,...,77613,-0.197755,2018-05-25,None,None,None,Floor/Wall,Single Family Residential,None,None

Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [8]:
df.describe()

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,id,logerror
count,223.000000,50.0,77580.000000,49572.000000,15.000000,207.000000,25007.000000,7.758000e+04,7.758000e+04,50.000000,...,172.0,7.746500e+04,7.757900e+04,77580.0,7.757800e+04,77575.000000,2900.000000,7.733300e+04,77580.000000,77580.000000
mean,6.040359,7.0,261.824465,3.921811,3.933333,7.386473,1.812013,1.300828e+07,1.495404e+06,679.720000,...,1.0,1.892796e+05,4.901476e+05,2016.0,3.011500e+05,5995.927626,14.088276,6.049667e+13,38806.723795,0.016800
std,0.556035,0.0,5.141564,3.594770,0.258199,2.728030,2.965768,3.519376e+06,8.609700e+05,689.703546,...,0.0,2.304095e+05,6.537942e+05,0.0,4.927219e+05,7628.816490,2.181281,1.533329e+12,22403.756329,0.170739
min,4.000000,7.0,31.000000,1.000000,3.000000,2.000000,1.000000,1.071186e+07,3.490000e+02,38.000000,...,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,0.000000,-4.655420
25%,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,1.153820e+07,7.521430e+05,273.000000,...,1.0,8.417100e+04,2.068990e+05,2016.0,8.529325e+04,2712.650000,14.000000,6.037311e+13,19404.750000,-0.024310
50%,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,1.253056e+07,1.498256e+06,515.000000,...,1.0,1.364020e+05,3.588780e+05,2016.0,2.031810e+05,4448.230000,15.000000,6.037603e+13,38804.500000,0.006675
75%,6.000000,7.0,266.000000,7.000000,4.000000,7.000000,1.000000,1.421135e+07,2.240950e+06,796.500000,...,1.0,2.187340e+05,5.690000e+05,2016.0,3.667398e+05,6926.885000,15.000000,6.059042e+13,58208.250000,0.039291
max,13.000000,7.0,275.000000,24.000000,4.000000,21.000000,13.000000,1.676893e+08,2.982274e+06,3560.000000,...,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,77613.000000,5.262999

In [12]:
df.isnull().sum().sort_values(ascending=False)

buildingclasstypeid     77565
buildingclassdesc       77565
finishedsquarefeet13    77538
storytypeid             77530
basementsqft            77530
                        ...
id                          0
longitude                   0
logerror                    0
assessmentyear              0
latitude                    0
Length: 69, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77580 entries, 0 to 77579
Data columns (total 69 columns):
typeconstructiontypeid          223 non-null float64
storytypeid                     50 non-null float64
propertylandusetypeid           77580 non-null float64
heatingorsystemtypeid           49572 non-null float64
buildingclasstypeid             15 non-null float64
architecturalstyletypeid        207 non-null float64
airconditioningtypeid           25007 non-null float64
parcelid                        77580 non-null int64
id                              77580 non-null int64
basementsqft                    50 non-null float64
bathroomcnt                     77580 non-null float64
bedroomcnt                      77580 non-null float64
buildingqualitytypeid           49810 non-null float64
calculatedbathnbr               76964 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6037 non-null float64
calculatedfinishedsquarefeet    77379 non-null float64
finishedsquarefeet12            73924 non-null float64
finishedsquarefeet13            42 non-null float64
finishedsquarefeet15            3027 non-null float64
finishedsquarefeet50            6037 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77580 non-null float64
fireplacecnt                    8289 non-null float64
fullbathcnt                     76964 non-null float64
garagecarcnt                    25520 non-null float64
garagetotalsqft                 25520 non-null float64
hashottuborspa                  1539 non-null float64
latitude                        77580 non-null float64
longitude                       77580 non-null float64
lotsizesquarefeet               69322 non-null float64
poolcnt                         16174 non-null float64
poolsizesum                     869 non-null float64
pooltypeid10                    465 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     15079 non-null float64
propertycountylandusecode       77580 non-null object
propertyzoningdesc              50477 non-null object
rawcensustractandblock          77580 non-null float64
regionidcity                    76108 non-null float64
regionidcounty                  77580 non-null float64
regionidneighborhood            30974 non-null float64
regionidzip                     77530 non-null float64
roomcnt                         77580 non-null float64
threequarterbathnbr             10106 non-null float64
unitcnt                         50704 non-null float64
yardbuildingsqft17              2393 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77310 non-null float64
numberofstories                 17599 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77465 non-null float64
taxvaluedollarcnt               77579 non-null float64
assessmentyear                  77580 non-null float64
landtaxvaluedollarcnt           77578 non-null float64
taxamount                       77575 non-null float64
taxdelinquencyflag              2900 non-null object
taxdelinquencyyear              2900 non-null float64
censustractandblock             77333 non-null float64
id                              77580 non-null int64
logerror                        77580 non-null float64
transactiondate                 77580 non-null object
airconditioningdesc             25007 non-null object
architecturalstyledesc          207 non-null object
buildingclassdesc               15 non-null object
heatingorsystemdesc             49572 non-null object
propertylandusedesc             77580 non-null object
storydesc                       50 non-null object
typeconstructiondesc            223 non-null object
dtypes: float64(55), int64(3), object(11)
memory usage: 40.8+ MB

Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [26]:
def missing_values(df):
    new_df = pd.DataFrame(df.isnull().sum().sort_values(ascending=False))
    new_df.rename(columns=('missing_values'))
    return new_df

In [27]:
new_df = missing_values(df)

TypeError: Index(...) must be called with a collection of some kind, 'missing_values' was passed

In [17]:
new_df

                          0
buildingclasstypeid   77565
buildingclassdesc     77565
finishedsquarefeet13  77538
storytypeid           77530
basementsqft          77530
...                     ...
id                        0
longitude                 0
logerror                  0
assessmentyear            0
latitude                  0

[69 rows x 1 columns]