In [132]:
import pandas as pd

from os import path

import requests

1. Using the code from the lesson as a guide, create a dataframe named items that has all of the data for items.

In [2]:
base_url = 'https://python.zach.lol'
print(requests.get(base_url).text)

{"api":"/api/v1","help":"/documentation"}

In [3]:
response = requests.get(base_url + "/api/v1/items")

In [7]:
data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [193]:
def acquire_lolz(url_endpoint):
    df = pd.DataFrame([])
    response = requests.get(base_url + f'/api/v1/{url_endpoint}')
    data = response.json()
    
    for i in range(1, data['payload']['max_page']+1):
        response = requests.get(base_url + f'/api/v1/{url_endpoint}?page={i}')
        data = response.json()
        iterate_list = data['payload'][url_endpoint]
        df = df.append(iterate_list)
    return df

In [194]:
df_items = acquire_lolz('items')

In [195]:
df_items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

2. Do the same thing, but for stores.

In [41]:
base_url = 'https://python.zach.lol'
print(requests.get(base_url).text)

{"api":"/api/v1","help":"/documentation"}

In [201]:
response = requests.get(base_url + '/documentation')
print(response.json()["payload"])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [87]:
response = requests.get(base_url + '/api/v1/stores')
data = response.json()
df_stores = pd.DataFrame(data['payload']['stores'])
df_stores

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

3.  Extract the data for sales. There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [100]:
url = data['payload']['next_page']
url

'/api/v1/sales?page=2'

In [139]:
def acquire_lolz(url_endpoint):
    df = pd.DataFrame([])
    response = requests.get(base_url + f'/api/v1/{url_endpoint}')
    data = response.json()
    
    for i in range(1, data['payload']['max_page']+1):
        response = requests.get(base_url + f'/api/v1/{url_endpoint}?page={i}')
        data = response.json()
        iterate_list = data['payload'][url_endpoint]
        df = df_sales.append(iterate_list)
    df.set_index('sale_id')
    return df_sales

In [127]:
df_sales = acquire_lolz()

1 (5000, 5)
2 (10000, 5)
3 (15000, 5)
4 (20000, 5)
5 (25000, 5)
6 (30000, 5)
7 (35000, 5)
8 (40000, 5)
9 (45000, 5)
10 (50000, 5)
11 (55000, 5)
12 (60000, 5)
13 (65000, 5)
14 (70000, 5)
15 (75000, 5)
16 (80000, 5)
17 (85000, 5)
18 (90000, 5)
19 (95000, 5)
20 (100000, 5)
21 (105000, 5)
22 (110000, 5)
23 (115000, 5)
24 (120000, 5)
25 (125000, 5)
26 (130000, 5)
27 (135000, 5)
28 (140000, 5)
29 (145000, 5)
30 (150000, 5)
31 (155000, 5)
32 (160000, 5)
33 (165000, 5)
34 (170000, 5)
35 (175000, 5)
36 (180000, 5)
37 (185000, 5)
38 (190000, 5)
39 (195000, 5)
40 (200000, 5)
41 (205000, 5)
42 (210000, 5)
43 (215000, 5)
44 (220000, 5)
45 (225000, 5)
46 (230000, 5)
47 (235000, 5)
48 (240000, 5)
49 (245000, 5)
50 (250000, 5)
51 (255000, 5)
52 (260000, 5)
53 (265000, 5)
54 (270000, 5)
55 (275000, 5)
56 (280000, 5)
57 (285000, 5)
58 (290000, 5)
59 (295000, 5)
60 (300000, 5)
61 (305000, 5)
62 (310000, 5)
63 (315000, 5)
64 (320000, 5)
65 (325000, 5)
66 (330000, 5)
67 (335000, 5)
68 (340000, 5)
69 (345000, 5)
70 (350000, 5)
71 (355000, 5)
72 (360000, 5)
73 (365000, 5)
74 (370000, 5)
75 (375000, 5)
76 (380000, 5)
77 (385000, 5)
78 (390000, 5)
79 (395000, 5)
80 (400000, 5)
81 (405000, 5)
82 (410000, 5)
83 (415000, 5)
84 (420000, 5)
85 (425000, 5)
86 (430000, 5)
87 (435000, 5)
88 (440000, 5)
89 (445000, 5)
90 (450000, 5)
91 (455000, 5)
92 (460000, 5)
93 (465000, 5)
94 (470000, 5)
95 (475000, 5)
96 (480000, 5)
97 (485000, 5)
98 (490000, 5)
99 (495000, 5)
100 (500000, 5)
101 (505000, 5)
102 (510000, 5)
103 (515000, 5)
104 (520000, 5)
105 (525000, 5)
106 (530000, 5)
107 (535000, 5)
108 (540000, 5)
109 (545000, 5)
110 (550000, 5)
111 (555000, 5)
112 (560000, 5)
113 (565000, 5)
114 (570000, 5)
115 (575000, 5)
116 (580000, 5)
117 (585000, 5)
118 (590000, 5)
119 (595000, 5)
120 (600000, 5)
121 (605000, 5)
122 (610000, 5)
123 (615000, 5)
124 (620000, 5)
125 (625000, 5)
126 (630000, 5)
127 (635000, 5)
128 (640000, 5)
129 (645000, 5)
130 (650000, 5)
131 (655000, 5)
132 (660000, 5)
133 (665000, 5)
134 (670000, 5)
135 (675000, 5)
136 (680000, 5)
137 (685000, 5)
138 (690000, 5)
139 (695000, 5)
140 (700000, 5)
141 (705000, 5)
142 (710000, 5)
143 (715000, 5)
144 (720000, 5)
145 (725000, 5)
146 (730000, 5)
147 (735000, 5)
148 (740000, 5)
149 (745000, 5)
150 (750000, 5)
151 (755000, 5)
152 (760000, 5)
153 (765000, 5)
154 (770000, 5)
155 (775000, 5)
156 (780000, 5)
157 (785000, 5)
158 (790000, 5)
159 (795000, 5)
160 (800000, 5)
161 (805000, 5)
162 (810000, 5)
163 (815000, 5)
164 (820000, 5)
165 (825000, 5)
166 (830000, 5)
167 (835000, 5)
168 (840000, 5)
169 (845000, 5)
170 (850000, 5)
171 (855000, 5)
172 (860000, 5)
173 (865000, 5)
174 (870000, 5)
175 (875000, 5)
176 (880000, 5)
177 (885000, 5)
178 (890000, 5)
179 (895000, 5)
180 (900000, 5)
181 (905000, 5)
182 (910000, 5)
183 (913000, 5)

4. Save the data in your files to local csv files so that it will be faster to access in the future.

In [222]:
if path.exists("zach_sales.csv"):
    df = pd.read_csv("zach_sales.csv", index_col=0)
else:
    df = df_sales
    df.to_csv("zach_sales.csv")

5. Combine the data from your three separate dataframes into one large dataframe.

In [223]:
df.head(1)

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1

In [224]:
df_items.head(1)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [225]:
# df = df.set_index('sale_id')
df.rename(columns={'store': 'store_id', 'item':'item_id'}, inplace=True)

In [226]:
df = df.merge(right=df_stores, how='left', on='store_id', copy='False')
df = df.merge(right=df_items, how='left', on='item_id', copy='False')
df.shape

(913000, 14)

In [228]:
df = df.set_index('sale_id')

In [230]:
df.head()
df.shape

(913000, 13)

6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [190]:
german = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

In [208]:
german.describe()

       Consumption         Wind        Solar   Wind+Solar
count  4383.000000  2920.000000  2188.000000  2187.000000
mean   1338.675836   164.814173    89.258695   272.663481
std     165.775710   143.692732    58.550099   146.319884
min     842.395000     5.757000     1.968000    21.478000
25%    1217.859000    62.353250    35.179250   172.185500
50%    1367.123000   119.098000    86.407000   240.991000
75%    1457.761000   217.900250   135.071500   338.988000
max    1709.568000   826.278000   241.580000   851.556000

In [209]:
german.isnull().sum()

Date              0
Consumption       0
Wind           1463
Solar          2195
Wind+Solar     2196
dtype: int64

In [211]:
german.shape

(4383, 5)