In [1]:
import pandas as pd
from datetime import timedelta, datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

from acquire import acquire_lolz, check_csv, join_sales_items_store, erneuerbare_energie

In [2]:
df_stores = acquire_lolz('stores')
df_stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [3]:
df_items = acquire_lolz('items')
df_items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [4]:
df = check_csv()
df.head(2)

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1

In [5]:
df.rename(columns={'store': 'store_id', 'item':'item_id'}, inplace=True)
df = df.merge(right=df_stores, how='left', on='store_id', copy='False')
df = df.merge(right=df_items, how='left', on='item_id', copy='False')

In [6]:
print(df.shape)
df.head(2)

(913000, 14)

,item_id,sale_amount,sale_date,sale_id,store_id,store_address,store_city,store_state,store_zipcode,item_brand,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013

1. Convert date column to datetime format.

In [ ]:
#reassign the sale_date column to be a datetime type
df['sale_date'] = pd.to_datetime(df['sale_date'])

In [ ]:
df.head(1)

2. Plot the distribution of sale_amount and item_price.

In [ ]:
df.plot.scatter(y='sale_amount', x='item_price')

In [ ]:
sns.boxplot(df.sale_amount)

In [ ]:
sns.boxplot(df.item_price)

3. Set the index to be the datetime variable.

In [ ]:
# sort rows by the date and then set the index as the date
df = df.sort_values('sale_date').set_index('sale_date')

4. Add a 'month' and 'day of week' column to your dataframe, derived from the index using the keywords for those date parts.

In [ ]:
df['month'] = df.index.month_name()
df['day_of_the_week'] = df.index.day_name()

5. Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.

In [ ]:
df['sales_total'] = df.item_price * df.sale_amount
df.head(1)

6. Using pandas.DataFrame.diff() function, create a new column that is the result of the current sales - the previous days sales.

In [ ]:
df['diff_day_sales_total'] = df.sales_total.diff(500)

7. Make all your work reproducible

# Ze Good German Data

In [ ]:
datarahmen = erneuerbare_energie()
datarahmen.head()

1. Convert date column to datetime format.

In [ ]:
def convert_date_time(df):
    df['Date'] = pd.to_datetime(df['Date'])
    return df
df = convert_date_time(datarahmen)
df.head(2)

2. Plot the distribution of each of your variables.

In [ ]:
fig, axs = plt.subplots(2, 2)
axs[0, 0].hist(df.Consumption)
axs[0, 1].hist(df.Wind)
axs[1, 0].hist(df.Solar)
axs[1, 1].hist(df['Wind+Solar'])

In [ ]:
sns.lineplot(x='Date', y='Consumption', data=df)

3.Set the index to be the datetime variable.

In [ ]:
df = df.set_index('Date')

4. Add a month and a year column to your dataframe.

In [ ]:
df['month'] = df.index.month_name()
df['year'] = df.index.year

5. make it reproducible

## Vega-Datasets

    Install Vega data sets

In [ ]:
# pip install vega_datasets

In [ ]:
from vega_datasets import data
df = data.sf_temps()

1.  Resample by the day and take the average temperature. Visualize the average temperature over time.

2. Write the code necessary to visualize the minimum temperature over time.

3. Write the code necessary to visualize the maximum temperature over time.