In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from fbprophet import Prophet

%matplotlib inline
pd.plotting.register_matplotlib_converters()
from math import sqrt

# import warnings
# warnings.filterwarnings("ignore")

In [5]:
dict = [
        {
        'name': "Ryan McCall", 
        'partial_name': 'My name is Ryan',
        'full_name': 'Ryan McCall killed my parents'
        },
        {
        'name': "Yvonne King", 
        'partial_name': 'Some people, Yvonne, call me',
        'full_name': 'yes yvonne king is here'
        },
        {
        'name': "Matt Smith", 
        'partial_name': 'Some people, Matt, call me',
        'full_name': 'yes matt smith is here'
        }
       ]

In [19]:
df = pd.DataFrame(dict)
df['number'] = df.index * 2
df.head()

,name,partial_name,full_name,number
0,Ryan McCall,My name is Ryan,Ryan McCall killed my parents,0
1,Yvonne King,"Some people, Yvonne, call me",yes yvonne king is here,2
2,Matt Smith,"Some people, Matt, call me",yes matt smith is here,4

In [32]:
def all_columns_lower_case(df):
    """makes all objects"""
    for col in df.columns:
        if df[col].dtype == 'O':
            df[col] = df[col].str.lower()
    return df

In [33]:
df = all_columns_lower_case(df)

In [34]:
df.head()

,name,partial_name,full_name,number
0,ryan mccall,my name is ryan,ryan mccall killed my parents,0
1,yvonne king,"some people, yvonne, call me",yes yvonne king is here,2
2,matt smith,"some people, matt, call me",yes matt smith is here,4

In [48]:
#split on first name
df['first_name'] = list(df.name.str.split(" "))

In [60]:
df.name.str.split(" ")

0    [ryan, mccall]
1    [yvonne, king]
2     [matt, smith]
Name: name, dtype: object