In [1]:
import pandas as pd

1. Attendance Data

Load the attendance.csv file and calculate an attendnace percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [36]:
df = pd.read_csv('attendance.csv')
df = df.rename(columns={'Unnamed: 0': 'student_name'})
df = df.melt(id_vars=('student_name'))
df = df.replace({'T':.9, 'A': 0, 'H': .5, 'P': 1})
df = df.rename(columns={'variable':'date', 'value': 'num_attendance_value'})
df.groupby('student_name').mean()

              num_attendance_value
student_name
Billy                       0.5250
Jane                        0.6875
John                        0.9125
Sally                       0.7625

2. Coffee Levels

- Read the coffee_levels.csv file.
- Transform the data so that each carafe is in it's own column.
- Is this the best shape for the data?
    > It depends on what you want to do.  Easier to show in a table the second way, visually the first way

In [84]:
df = pd.read_csv('coffee_levels.csv')
df = df.pivot_table(columns='coffee_carafe', index='hour').reset_index()
df

              hour coffee_amount
coffee_carafe                  x         y         z
0                8      0.816164  0.189297  0.999264
1                9      0.451018  0.521502  0.915990
2               10      0.843279  0.023163  0.144928
3               11      0.335533  0.235529  0.311495
4               12      0.898291  0.017009  0.771947
5               13      0.310711  0.997464  0.398520
6               14      0.507288  0.058361  0.864464
7               15      0.215043  0.144644  0.436364
8               16      0.183891  0.544676  0.280621
9               17      0.391560  0.594126  0.436677

3. Cake Recipes


- Read the cake_recipes.csv data. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.
- Tidy the data as necessary.
- Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees

In [111]:
df = pd.read_csv('cake_recipes.csv')
cakes = df['recipe:position'].str.split(':', expand=True)
cakes.columns = ['recipe', 'position']
df = pd.concat([cakes, df], axis=1).drop(columns=('recipe:position'))
df = df.melt(id_vars=('recipe', 'position'))
df = df.rename(columns={'variable':'temperature', 'value':'score'})

- Which recipe, on average, is the best? recipe b

In [112]:
df.groupby('recipe').mean()

            score
recipe
a       63.922201
b       76.736074
c       75.874748
d       62.864844

- Which oven temperature, on average, produces the best results? 275

In [118]:
temp = df.groupby('temperature').mean()
pd.DataFrame(temp.score.nlargest(1))

                 score
temperature
275          74.886754

- Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees

In [136]:
df[df.score == df.score.max()]

   recipe position temperature      score
26      b   bottom         300  99.248541